@{
    ViewBag.Title = "Error";
}

<h2 class="page-title">@ViewBag.Title</h2>
<div class="alert alert-danger">
    Ocurrió un error durante el procesamiento de su solicitud. Por favor, intente nuevamente mas tarde y si el problema persiste comuníquese con el soporte técnico.
</div>
